@import "normalize.scss";
@import "reset.scss";

body {
  font-family: Roboto;
  font-weight: 400;
  font-size: 16px;
  color: #777;
  letter-spacing: 2px;
  background: #ffffff;
  padding: 50px;
}

.container {
  background: #f7f7f7;
}

.btn {
  position: relative;
  &:link,
  &:visited {
    display: inline-block;
    text-transform: uppercase;
    background: #ffffff;
    color: #777;
    font-size: 20px;
    font-weight: 600;
    letter-spacing: 5px;
    padding: 15px 40px;
    border-radius: 50px;
    transition: all 0.3s ease;
  }
  &:hover {
    transform: translateY(-4px);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.3);
    &::after {
      opacity: 0;
      transform: scaleX(1.5) scaleY(1.7);
    }
  }
  &:active {
    transform: translateY(-2px);
    box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.1);
  }
  &::after {
    content: "";
    background: white;
    width: 100%;
    height: 100%;
    border-radius: 50px;
    display: inline-block;
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    transition: all 0.4s ease;
  }
  &_animated {
    animation: button 1s ease 0.4s backwards;
  }
}

//--------------------------HEADER--------------------------//
.header {
  position: relative;
  height: 95vh;
  background: linear-gradient(
      90deg,
      rgba(186, 133, 84, 0.7) 0.03%,
      rgba(1, 1, 1, 0.7) 99.94%
    ),
    url(../img/header-background.jpg) center/cover no-repeat;
  clip-path: polygon(0 0, 100% 0, 100% 100%, 0 83%);

  &__logo {
    width: 56px;
    height: 70px;
    position: absolute;
    top: 3.125rem;
    left: 3.125rem;
  }
  &__box {
    position: absolute;
    top: 40%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100%;
    text-align: center;
  }
  &__btn {
  }
}

.title-first {
  color: #fff;
  &__main {
    text-transform: uppercase;
    display: block;
    font-size: 50px;
    font-weight: 800;
    line-height: normal;
    letter-spacing: 10px;
    margin-bottom: 10px;
    animation: leftToRight 1.7s ease 0.3s backwards;
    backface-visibility: hidden;
  }

  &__secondary {
    display: block;
    font-size: 40px;
    font-weight: 300;
    line-height: normal;
    letter-spacing: 5px;
    animation: rightToLeft 1.7s ease 0.3s backwards;
    backface-visibility: hidden;
    margin-bottom: 50px;
  }
}
//========KEYFRAMES========//

@keyframes leftToRight {
  0% {
    opacity: 0;
    transform: translateX(-100px);
  }
  70% {
    transform: translateX(10px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes rightToLeft {
  0% {
    opacity: 0;
    transform: translateX(100px);
  }
  70% {
    transform: translateX(-10px);
  }
  100% {
    transform: translateX(0px);
  }
}

@keyframes button {
  from {
    opacity: 0;
    transform: translateY(100px);
  }
  to {
    opacity: 1;
    transform: translateX(0px);
  }
}
